@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background:#eee;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}

.container .content{
    flex: 1 1 400px;
}

.container .image{
    flex: 1 1 400px;
}

.container .image img{
    width: 100%;
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color:#C7A17A;
    ;
}

.container .content p{
    color: #666;
    padding: 5px 0;
}

.container .content .count-down{
   display: flex;
   gap: 15px;
   padding: 10px 0;
}

.container .content .count-down .box{
   padding: 5px;
   border-radius: 7px;
   background: #fff;
   border: 0px solid #333;
   text-align: center;
   flex: 1 1 20px;
 }

 .container .content .count-down .box h3{
   size: 10px;
   color: #070706;
   
  }

  .container .content .count-down .box span{
    padding: 20px;
    color: #BCBCBC;
    ;
   }

   .container .content .btn {
       border-radius: 56px;
       display: inline-block;
       padding: 8px 50px;
       margin: 10px 0;
       font-size: 17px;
      background: #454341
      ;
       
       color: #fff;
       transition: .2s ease-out;
   }

   .container .content .btn:hover {
   /* letter-spacing: 2px; */
}

@media (max-width:500px){
    .container{
        padding: 20px;
    }

    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 35px;
    }

    .container .content p{
        font-size: 14px;
    }

    .container .content .count-down{
        gap: 5px;
    }

    .container .content .count-down .box h3{
        font-size: 30px;
    }

    .container .content .count-down .box span{
        font-size: 15px;
    }
}
  
 

